{% extends "layouts/layout.html" %}
{% block title %} 30-Day Challenge{% endblock %}

{% block content %}
    <div class="container text-center display-2 mt-5">90 Day Challenge</div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Instagram</th>
                <th scope="col">Streak</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <td>{{ user['firstName'] }} {{ user['lastName'] }}</td>
                    <td>{{ user['username'] }}</td>
                    <td>{{ user['instagram'] }}</td>
                    <td>{{ user['streak'] }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}